<router-outlet></router-outlet>
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>test</title>
</head>
<body>
<div class="div1 d-flex row r-0 p-0" >
  <div class="d-flex col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <img src="/assets/search_FILL0_wght400_GRAD0_opsz24%20(1).png" alt=""/>
    <input type="search" placeholder="search">
    <button type="submit">ثبت نام</button>
    <p>hii</p>

  </div>
  <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" routerLink="">

  </div>
  <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4" >
    <p routerLink="/product/list">product list</p>
    <p routerLink="/product/add">product add</p>
    <p routerLink="/product/detail">product detail</p>
    <p routerLink="/user/list">user list</p>
    <p routerLink="/user/add">user add</p>
    <p routerLink="/user/detail">user detail</p>
  </div>
</div>
</body>
</html>

